---
// TODO: paginate post list

import Writing from "../layouts/Writing.astro"
import Content from "../content/home.mdx"
import PostList from "../components/PostList.astro"
import { getCollection } from "astro:content"

const posts = await getCollection("posts")
---

<Writing title="home">
	<h1>home</h1>
	<Content />
	<section>
		<h2>writing</h2>
		<PostList {posts} heading="h3" />
	</section>
</Writing>
