---
import { getCollection, render } from "astro:content"
import Writing from "../layouts/Writing.astro"
import Content from "../content/now.mdx"
---

<Writing title="now">
	<h1>now</h1>
	<Content />
</Writing>
